:root {
  --copper-brown: #7C4D2A;
  --brass-yellow: #D8A76B;
  --olive-green: #7C7B39;
  --deep-teal: #2B4C4F;
  --rust-red: #A44A3F;
  --gunmetal-gray: #7E7B7A;
  --vintage-white: #F5E9E0;
  --moss-green: #4E5B31;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gunmetal Gray', sans-serif;
  background-color: var(--vintage-white);
  color: var(--gunmetal-gray);

}
html, body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0; /* Remove default margin */
}

/* Container */
.App {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
  padding-bottom: 10px;

  display: flex;
  flex-direction: column; /* Arrange items in a column */
  min-height: 100vh;
}


/* Navigation Bar */
nav {
  background-color: var(--deep-teal);
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0; 
  width: 100%;


  position: fixed; 
  z-index: 1000;
}

nav a {
  color: var(--vintage-white);
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;

}
nav a i {
  margin-right: 5px;
}

nav a:hover {
  color: var(--brass-yellow);
}



/* Buttons */

.product-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: var(--copper-brown);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button {
  background-color: var(--copper-brown);
  color: var(--brass-yellow);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-white {
  background-color: var(--vintage-white);
  color: var(--gunmetal-gray);
  border: 1px solid black;
}

.button-red {
  background-color: var(--rust-red)
}

button:hover,
.product-card:hover {
  background-color: var(--brass-yellow);
  color: var(--copper-brown);
  border: 1px solid var(--rust-red);
}




/* Footer */
footer {
  background-color: var(--deep-teal);
  padding: 15px;
  text-align: center;
  color: var(--vintage-white);
}

footer a {
  color: var(--brass-yellow);
  text-decoration: none;
}

footer a:hover {
  color: var(--rust-red);
}
